*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
body{
    background-color: #E2EFFF;
}
/*nav-bar*/
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.item{
    color: #A6A9AE;
}
.it{
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}
.locked{
    color: #A6A9AE;
    /* font-size: 1.1rem; */
    font-weight: 550;
    text-decoration: underline;
}


.staking_offerings{
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    margin: 10px 25px;
}
.cardano{
    background-color: white;
    height: 250px;
    width: 300px;
    border-radius: 3%;
}
 .ontology_polkadot{
    display: flex;
    flex-direction: column;
    gap: 20px;
}  
.ontology{
    height:115px;
    width: 300px;
    background-color: white;
    border-radius: 3%;
}
.polkadot{
    height:115px;
    width: 300px;
    background-color: white;
    border-radius: 3%;
}
.avbl{
    height: 250px;
    width: 350px;
    background-color: #0B99FF;
    border-radius: 3%;
}

.mnav-bar{
    display: flex;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 20px;
}
.rewards_query1{
    margin-left: 28px;
}
.rewards_query2{
    margin-left: 825px;
}
.rewards{
    display: flex;
    background-color: white;
    height: 90px;
    width: 944px;
    margin-left: 25px;
    margin-top: 10px;
    gap: 50px;
    border-radius: 3%;
}
.mainbox{
    display: flex;
}
.query{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.stake{
    color: #A6A9AE;
}

.stake_asset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px 15px 20px;
    color: #A6A9AE;
}
.next_claim{
    display: flex;
    justify-content: space-evenly;
    /* margin: 20px 20px 15px 20px; */
}
.staking_reward{
    height: 150px;
    width: 350px;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 3%;
}
.ONT{
    color: #6eb3f5;
}
.tobe{
    color: #A6A9AE;
}
.time{
    color: black;
    font-size: 1.10rem;
    font-weight: 550;
    margin-top: 10px;
}
.amount{
    color: black;
    font-size: 1.10rem;
    font-weight: 550;
    height: 25px;
    width: 130px;
    border-radius: 3%;
    padding-left:10px ;
    background-color:#f7f3f3f8;
}
.claim_rewardstext{
    font-size: large;
    color: #77B3E2;
    margin: 10px 20px 20px 20px;
}