* {
    margin: 0px;
    padding: 0px;
    border: border-box;
    scrollbar-width: none;
}

body {
    background-color: #E2EFFF;
    /* font-family: sans-serif; */
}

/*nav-bar*/
.nav-bar {
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 25px;
}
.offerrings{
 margin-left: 28px;
}
.locked{
    margin-left: 245px;
}
.defi{
    margin-left: 20px;
}
.item {
    color: #A6A9AE;
    font-weight: 550;
}
.active{
    margin-left: 250px;
}
.wallet{
    margin-left: 35px;
}
.usdt{
    margin-left: 150px;
}
.it {
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
}

.locked {
    color: #A6A9AE;
    /* font-size: 1.1rem; */
    font-weight: 550;
    text-decoration: underline;
}


.staking_offerings {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    margin: 10px 25px;
}

.cardano {
    background-color: white;
    height: 250px;
    width: 300px;
    border-radius: 3%;
}
.car1{
    display: flex;
    margin-left: 30px;
    gap: 40px;
    margin-top: 20px;
}
.cardano_text{
    font-size: 1.1rem;
    font-weight: 550;
}
.car1 p{
    color: #A6A9AE;
    font-weight: 400;
    /* margin-top: 10px; */
}
.apy{
    font-weight: bold;
}
.car2{
    font-size: 1.1rem;
    font-weight: 550;
    margin-left: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.car2 p{
    color: #a6a9ae;
    font-weight: 400;
}
.on{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 1rem;
    margin-top: 5px;
}
.on22{
    background-color: #e8e9ec;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border-radius: 3%;
    margin-top: 8px;
    
}
.car4{
    height: 30px;
    width: 100px;
    background-color: #0B99FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border-radius: 3%;
    margin-top: 15px;
}
.ontology_polkadot {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ontology {
    height: 115px;
    width: 300px;
    background-color: white;
    border-radius: 3%;
}

.polkadot {
    height: 115px;
    width: 300px;
    background-color: white;
    border-radius: 3%;
}

.avbl {
    height: 250px;
    width: 350px;
    background-color: #0B99FF;
    border-radius: 3%;
}
.balance_img{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    gap: 20px;
}
.balance{
    color: white;
}
.balance p{
    font-size: 1.4rem;
    margin-top: 10px;
}
.staked_reward{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    margin-left: 15px;
}
.sta{
    color: white;
}
.sta p{
    font-size: 1.1rem;
}
.topupwallet{
    display: flex;
    margin-top: 30px;
}
.tp1{
    color: black;
    height:30px ;
    width: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 4%;
}
.tp2{
    color: white;
    height:30px ;
    width: 120px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 4%;
}
.mnav-bar {
    display: flex;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 20px;
}

.rewards_query1 {
    margin-left: 28px;
}

.rewards_query2 {
    margin-left: 825px;
}

.rewards {
    display: flex;
    background-color: white;
    height: 90px;
    width: 944px;
    margin-left: 25px;
    margin-top: 10px;
    gap: 50px;
    border-radius: 3%;
}

.mainbox {
    display: flex;
}

.query {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 23px;
}

.stake {
    color: #A6A9AE;
}

.stake_asset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px 15px 20px;
    color: #A6A9AE;
}

.next_claim {
    display: flex;
    justify-content: space-evenly;
    /* margin: 20px 20px 15px 20px; */
}

.staking_reward {
    height: 150px;
    width: 350px;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 3%;
}

.ONT {
    color: #6eb3f5;
}

.tobe {
    color: #A6A9AE;
}

.time {
    color: black;
    font-size: 1.10rem;
    font-weight: 550;
    margin-top: 10px;
}
.amount {
    color: black;
    font-size: 1.10rem;
    font-weight: 550;
    height: 25px;
    width: 160px;
    border-radius: 3%;
    padding-left: 10px;
    background-color: #f7f3f3f8;
}

.claim_rewardstext {
    font-size: large;
    color: #77B3E2;
    margin: 10px 20px 20px 20px;
}

.fnav-bar {
    display: flex;
    justify-content: space-between;
    width: 944px;
    margin-left: 22px;
    margin-bottom: 10px;
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
}

.lookupperiods {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #A6A9AE;
}

.stacking_activation {
    background-color: white;
    height: 300px;
    width: 944px;
    border-radius: 3%;
    margin-bottom: 10px;
    margin-left: 20px;
}

.wholefoot {
    display: flex;

}

.foot2 {}

.fnav-bar2 {
    display: flex;
    gap: 90px;
    margin-top: 20PX;
}

.stats {
    display: flex;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 22px;
}

.days{
    display: flex;
    letter-spacing: 5px;
    margin-top: 20px;

}