*{
    margin:0px;
    padding:px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
}
.one{
    background-color: #202225;
    height: 100vh;
    width: 14vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two{
    display: flex;
    flex-direction: column;
    background-color: #2F3136;
    height: 100vh;
    width: 50vw;
    color: white;
}
.three{
    background-color: #36393F;
    height: 100vh;
    width: 150vw;
    color: white;
    overflow: scroll;
}
.four{
    background-color: #2F3136;
    height: 100vh;
    width: 50vw;
}
.dis_select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px 10px 10px;
}
.discord_logo{
    display: flex;
    margin: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 3px solid white; */
}
.line{
    width: 50px;
}
.text_{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 10px 10px 10px;
    color: #858688 ;
}
.general{
    margin: 0px 10px 10px 10px;
    color: #858688 ;
}
.channel{
    margin: 0px 10px 10px 10px;
    color: #858688 ;
}
.welcome{
    margin: 0px 10px 10px 10px;
    color: #858688 ;
}
.p_image{
    display: flex;
    margin: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}
.profile{
    background-color:#3b3e44 ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-self: flex-end;
}
.welcome2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.full{
    display: flex;
    flex-direction: row;
}
.hello{
    display: flex;
    flex-direction: row;
}
.hashtag{
    margin: 15px;
    color: grey;
    font-size: large;
}
.three_welcome{
    margin:15px 0px 0px -5px ;
    font-size: large;
}
.say_hello{
    margin: 15px 0px 0px 0px;
    color: grey;
    font-size: large;
}
.vr{
    margin: 5px;
    color: grey;
    font-size: xx-large;
}
.main_profile{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
.name{
    margin: 5px ;
    margin-left: 5px;
}
.adm{
    background-color: rgb(241, 65, 65);
    height: 25px;
    width: 35px;
    border-radius: 7px;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px ;
}
.date{
    font-size: smaller;
    margin:5px;
    color: grey;
}
.msg{  
    margin-left: 52px;
}
.ms{
    margin-bottom: 5px;
}
.line_date{
    display: flex;
    flex-direction: row;
}
.line3{
    color: grey;
    margin-left: 30px;
    margin-top: 12px;
    width: 300px;
}
.line33{
    color: grey;
    margin-top: 12px;
    width: 300px;
}
.ei{
    display: flex;
    margin: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    /* border: 3px solid white; */
}
.main_profile2{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
#number{
    color: rgb(141, 140, 140);
}
.msginput{
    background-color: #40444b;
    height: 50px;
    width: 725px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
