div{
    color: white;
    background-color: black;
    height: 100px;
    width: 100px;
    font-weight: 900;
}
div{
    color: white;
    background-color: black;
    height: 200px;
    width: 300px;
    font-weight: 900;
}
div{
    color: white;
    background-color: black;
    height: 150px;
    width: 250px;
    font-weight: 900;
}
