/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to right, #667eea, #764ba2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

#addbtn, #clearbtn {
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.button-group button {
  flex: 1;
}

.container h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.container p {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

#task {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-bottom: 10px;
  transition: border 0.3s;
}

#task:focus {
  border-color: #764ba2;
}

button {
  padding: 10px 16px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

#addbtn {
  background-color: #764ba2;
  color: white;
}

#addbtn:hover {
  background-color: #5a3c94;
}

#clearbtn {
  background-color: #e74c3c;
  color: white;
}

#clearbtn:hover {
  background-color: #c0392b;
}


#tasklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddc3c3;
  padding: 12px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  min-height: 45px;
}

.taskItem span {
  font-size: 16px;
  color: #333;
  word-break: break-word;
}

.deletebtn {
  background-color: transparent;
  border: none;
  color: #e74c3c;
  font-size: 18px;
  cursor: pointer;

  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  transition: background 0.3s;
}

.deletebtn:hover {
  background-color: rgba(231, 76, 60, 0.1);
  color: #c0392b;
}

.edit-input {
  font-size: 16px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
} */
