* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    border: border-box;
    /* overflow: auto;  */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}
body{
    background-color: rgba(0, 0, 0, 0.089);
}
/*navbar*/
.nav-bar {
    height: 70px;
    width: 100%;
    display: flex;
     /* justify-content: center;  */
    align-items: center;
    background-color: white;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    position: fixed;
    top: 0px;
    z-index: 10;
}
.nav-logo {
    height: 50px;
    width: 100px;
    margin-left: 20px;
}
.logo{
    /* background-image: url("./assets/flipkart_logo.svg"); */
    background-size: cover;
    height: 50px;
    width: 100px;
    position: relative;
}
.logo img{
    position: absolute;
    left: -58px;
    top: 5px;
}
.nav-search{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color:#F0F5FF;
    border-radius: 10px;
    overflow: hidden;
}
.search-bar{
    height: 40px;
    width:550px ;
    font-size:1rem ;
    background-color: #F0F5FF;
    border: 0px solid transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
}
.search-bar:focus-visible{
    outline: none;
}
.search-icon{
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px ; 
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /* background-color: transparent; */
   
}
.nav-login{
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    /* margin-left: 15px; */
    height: 40px;
    border-radius: 10px;
}
.login-title{
    margin-left: 10px;
}
.login-arrow select{
    border: none;
}
.nav-login:hover{
     /* background-color: blue;  */
}
.nav-cart{
    margin-left:15px ;
}
.nav-cart{
    display: flex;
}
.cart-text{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.nav-seller{
    display: flex;

}
.seller{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.menu{
    margin-right: 50px;
    cursor:pointer;
}

/* box2 */
.shopping-options{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 10px 25px 15px 25px;
    height: 125px;
    margin-top: 80px;
}
.text{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #111112;
}
.items{
    text-align: center;
}
.items img{
    margin-top: 15px;
}
.items select{
    border: none;
    cursor: pointer;
}
/*box3*/
.arrow-left{
    top:60px;
    left:25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.arrow-container{
    height:90px;
    width:40px;
    background-color:white;
    /* border:1px  solid black; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-right{
    top:60px;
    right:25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.flight-options{

}
.flight-img{
    position: relative;
    overflow:hidden;
}
.flight-img img{
    max-width: 1316px;
    object-fit: cover;
    margin: 0px 25px 15px 25px;
    /* border: 1px solid black; */
    cursor: pointer;
}
/*box4*/
.box_four{
    display: flex;
}
.electronics-items{
    background-color: white;
    height: 300px;
    width: 1110px;
    margin-left: 25px;
}
.electronic-item{
    display: flex;
    justify-content:space-evenly;
}
.item-name{
    font-size: 14px;
    margin-top: 20px;
}
.electronic-text{
    font-size: 25px;
    /* border:1px solid black; */
    padding:10px 2px 10px 15px; 
    font-weight: 700;
}
.code_image img{
    height: 300px;
    object-fit: cover; 
    overflow: hidden;
    margin: 0px 25px 15px 20px; ;
}
.item-price{
    font-weight: 600;
    font-size:15px ;
    margin-top: 10px;
}
.ec-item img{
    margin-top: 15px;
}
.five img{
    margin-top: 63px;
}
.one img{
    margin-left: 35px;
}
/*box5*/
.box_five{
    background-color: white;
    height: 300px; 
    margin : 10px 25px 15px 25px;
}
.boxfive_text{
    font-size: 25px;
    /* border:1px solid black; */
    padding:10px 2px 10px 15px; 
    font-weight: 700;
}
.boxfive_items{
    display: flex;
    justify-content: space-evenly;
}
.boxitem_name{
    font-size: 14px;
    margin-top: 20px;
}
.box_price{
    font-weight: 600;
    font-size:15px ;
    margin-top: 10px;
}
.cycle img{
    margin-top: 37px;
}
.musical img{
    margin-top: 45px;
}
.arrow-box{
    
}
.yoga img{
    margin-top: 60px;
}
.bag img{
    margin-top: 20px;
}
.shoes img{
    margin-top: 55px;
}
/**/
.essentials{
    display: flex;
    gap:10px;
    justify-content: center;
    padding-left: 25px;
}
.es_box1{
    background-color: white;
    width: 515px;
    height: 620px;
    /* margin: 10px 10px 10px 25px ; */
}
.box3{
    margin-right: 25px;
}
.esboxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.esboxes1{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(189, 187, 187, 0.445);
    width: 190px;
    height: 260px;
    margin-top: 15px;
    overflow: hidden;
    border-radius: 5px;
    /* justify-content: space-evenly; */
    align-items: center;
}
.esboxes1 img{
    height: 170px;
    width: 170px;
    margin: 10px 25px 10px 25px;
}
.esbox1_text{
    font-size: 25px;
    /* border:1px solid black; */
    padding:10px 2px 10px 15px; 
    font-weight: 700;
}
.eboxes_offer{
    color: #108934;
    font-weight: 550;
    margin: 5px 0px 5px 10px;
    align-self: flex-start;
}
.eboxes_name{
    font-size: 18px;
    margin: 15px 0px 5px 10px;
    align-self: flex-start;
}